@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300px;
	letter-spacing: 2px;
}

ul {
	font-family: 'Roboto', sans-serif;
	font-weight: 300px;
	letter-spacing: 2px;
}


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
h3 {
	font-family: 'Oswald', sans-serif;
	font-weight: 300px;
	letter-spacing: 2px;
}

b {
	font-family: 'Oswald', sans-serif;
	font-weight: 300px;
	letter-spacing: 2px;
}

@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
h2 {
	font-family: 'Kanit', sans-serif;
	font-weight: 300px;
	letter-spacing: 2px;
}

header, footer {
 background-color: #38b6ff;
 padding: 10px;
}

.footer-columns {
 display: flex;
}

.footer-column {
 flex: 50%;
 margin: 20px;
}
 
main {
 padding: 10px;
 background-color: silver;
}

.post {
 background-color: white;
 padding: 20px;
 border-radius: 10px;
 margin-bottom: 20px;
 display: flex;
}

.post img {
 margin: 20px;
}

#menu {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	z-index: 10;
}

#menu ul {
	position:relative;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	list-style: none;
}

#menu > ul::after {
	display: block;
	width: 100%;
	height: 0;
	clear: both;
	content: " ";
}

#menu ul li {
	position: relative;
	display: block;
	float: left;
	width: auto;
	height: auto;
}


#menu ul li a {
	display: block;
	padding: 9px 25px 0px 25px;
	font-size: 14px;
	line-height: 1.3em;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	height: 36px;
	box-sizing: border-box;
	color: white;
}

#menu ul li ul {
	position: absolute;
	top: 36px;
	left: 0;
	display: none;
	width: 200px;
	background: #38b6ff;
}

#menu ul li:hover ul {
	display: block;
}

#menu ul li ul li {
	float: none;
	width: 100%;
}

#menu ul li ul li a {
	display: block;
	text-transform: none;
	height: auto;
	padding: 7px 25px;
	width: 100%;
	box-sizing: border-box;
	border-top: 1px solid #ffffff;
	color: white;
}

#menu ul li ul li:frist-child {
	border-top: 0px;
}

#text {
    font-size: 20px;
}

#css {
    font-size: 17px;
}

#html {
    font-size: 18px
}

#python {
    font-size: 18px
}

<div class="position: relative;">
  <div class="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <img src="img/1fWrXGgegdPuVGk52XTYD1A_large.jpg">
  </div>
</div>

#javascript {
    font-size: 18px
}